/*
  ========================================
  Body
  ========================================
*/
body {
  font-family: Verdana;
  font-size: 90%;
}
/*
  ========================================
  Header
  ========================================
*/
img {
  width: 15%;
}
/*
  ========================================
  Nav
  ========================================
*/
.dropdown-menu {
  background-color: dimgray;
}
.nav-link a:hover {
  background-color: aqua !important;
  color: white !important;	
}
/*
  ========================================
  Section
  ========================================
*/
/*
  ========================================
  Table
  ========================================
*/